/*@media only screen and (min-width:1024px) and (max-width: 1366px){
    .text {
        margin-left: 300px;
    }
    .table-striped{
        width:975px;
    }
}
@media only screen and (min-width:1366px) {
    .text {
        text-align:center;
    }

    .table-striped {
        width: 1640px;
        margin-left:112px;
    }
}*/